<div class="task-form">

  <h4>Edit Task</h4>
  <%= form("/api/tasks/#{@task.id}", :update) %>
  <input type="hidden" name="_method" value="PUT">

  <% fieldset(:task) do |f| %>
    <div class="form-group">
      <%= f.input :title, :value => @task.title, :class => "form-control u-full-width" %>
    </div>
    <div class="form-group">
      <%= f.textarea :description, "#{@task.description}", :class => "form-control u-full-width" %>
    </div>
    <div class="form-group">
      <%= f.textarea :additional, "#{@task.additional}", :class => "form-control u-full-width" %>
    </div>
  <% end %>

  <%= submit "Save Task", :class => "btn btn-primary" %>
</div>
