<div class="task-form">
  <h4>Add new Task</h4>
  
  <%= form("/api/tasks/", :post) %>
  <% fieldset(:task) do |f| %>
    <div class="form-group">
      <%= f.input :title, :value => @task.title, :class => "form-control u-full-width", placeholder: "Task Title" %>
    </div>
    <div class="form-group">
      <%= f.textarea :description, "#{@task.description}", :class => "form-control u-full-width", placeholder: "Task Description" %>
    </div>
    <div class="form-group">
      <%= f.textarea :additional, "#{@task.additional}", :class => "form-control u-full-width", placeholder: "Additional Notes" %>
    </div>
  <% end %>

  <%= submit "Add Task", :class => "button-primary" %>
</div>
